<!-- <cbs-openai-sample></cbs-openai-sample> -->
<mat-toolbar class="toolbar">
  <div class="container">
    <div class="toolbar-identity">
      <img
        width="60"
        alt="Roxy Logo"
        src="assets/img/roxy.png"
      />
      <span>Roxy Movie Recommendator</span>
    </div>
  </div>
</mat-toolbar>

<div class="content">   
    <div class="chat-button">
      <div class="green-circle"></div>
      <img
        width="60"
        alt="Roxy Logo"
        src="assets/img/roxy.png"
        class="chat-button-img"
        (click)="openChat()"
      />
    </div>
    

</div>

<footer class="footer">
  <div class="container">
    <span class="">Positive Thinking Company</span>
  </div>
</footer>